.image-slider-container {
  width: 378px;
  height: 180px;
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px; }
  .image-slider-container .image-slider {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 180px;
    overflow: hidden;
    gap: 12px; }
    .image-slider-container .image-slider .slide {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
      position: relative; }
      .image-slider-container .image-slider .slide.active {
        z-index: 1;
        transform: translateX(0); }
      .image-slider-container .image-slider .slide:not(.active) {
        z-index: 0;
        transform: translateX(-100%); }
  .image-slider-container button {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 1rem;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    outline: none;
    transition: all 0.2s; }
    .image-slider-container button.prev {
      left: 1rem; }
    .image-slider-container button.next {
      right: 1rem; }
    .image-slider-container button.hidden {
      visibility: hidden; }
    .image-slider-container button:hover {
      transform: translateY(-50%) scale(1.2); }

.mobile-menu {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }
  .mobile-menu__header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    color: white;
    border: 1px solid #ECECEC; }
  .mobile-menu__slider {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .mobile-menu__slider img {
      width: 100%; }
  .mobile-menu__hamburger {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 3.47%;
    right: 91.2%;
    top: 1.73%;
    bottom: 96.7%;
    width: 20px;
    height: 18px; }
    .mobile-menu__hamburger:hover {
      color: white; }
  .mobile-menu__cart {
    width: 17px;
    height: 20.5px;
    position: absolute;
    left: 92%;
    right: 3.47%;
    bottom: 96.57%;
    top: 1.65%; }
  .mobile-menu__logo {
    position: absolute;
    left: 12.27%;
    right: 52.53%;
    top: 1.82%;
    bottom: 96.7%;
    width: 132px;
    height: 17px; }
  .mobile-menu__accordion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 19px;
    position: absolute;
    width: 375px;
    height: 358.71px;
    left: 0px;
    top: 299px; }
    .mobile-menu__accordion .accordion:after {
      content: '\02795';
      /* Unicode character for "plus" sign (+) */
      font-size: 13px;
      color: black;
      float: right;
      margin-left: 5px; }
    .mobile-menu__accordion .active:after {
      content: "\2796";
      /* Unicode character for "minus" sign (-) */ }
    .mobile-menu__accordion button {
      width: 375px;
      height: 47px;
      left: 33px;
      top: 19px;
      font-family: 'Maison Neue';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.5px;
      color: #151515;
      padding-right: 100%;
      background: white;
      border: 1px solid #ECECEC; }
